/* Augmenter légèrement la largeur des popups */
.leaflet-popup-content {
    width: 350px !important;
}

.popup-image {
    width: 100%;
    height: auto;
    max-height: 250px;
    display: flex;
    justify-content: center;
}

.popup-image img {
    max-height: 250px;
    width: auto;
    object-fit: contain;
}